{% extends 'dict_app/base.html' %}

{% block title %}
    Addition a new word
{% endblock %}

{% block content %}
    <div id="wrapper">
	    <div id="featured-wrapper">
		    <div id="featured" class="extra2 margin-btm container">
			    <div class="main-title">
				    <h2>Add to the dictionary</h2>
				    <span class="byline">Here add a word in English and its translation</span> </div>
					<form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="text" id="eng_word" name="word1" placeholder="Add an word in English">
                        <input type="text" id="ru_word" name="word2" placeholder="Add an translation">
						<br>
						<br>
						<button class="button" type="submit">Add</button>
                    </form>
		    </div>
	    </div>
    </div>
{% endblock %}