{% extends 'dict_app/base.html' %}

{% block title %}
    My dictionary
{% endblock %}

{% block content %}
    <div id="header-featured">
	    <div id="banner-wrapper">
		    <div id="banner" class="container">
			    <h2>Memorize English words!</h2>
			    <p>This is <strong>My dictionary</strong>,</p>
				<p>an application for vocabulary replenishment in English.</p>
				<p>You can add new words and repeat all added earlier.</p>
				<p>Have fun! :)</p>
<!--			<a href="#" class="button">Etiam posuere</a>-->
		    </div>
	    </div>
    </div>
{% endblock %}